.logo__text--dark {
    color: var(--dark-text-color);
}

.logo {
    color: var(--logo-accent-color);
    font-family: "Raleway", sans-serif;
    @include font(26px, 700, 1.17,null);

    text-decoration: none;

}