:root {
    --main-text-color: #757575;
    --logo-accent-color: #2196f3;
    --accent-color: #2196f3;
    --dark-bcg-color: #2f303a;
    --white-bcg-color: #ffffff;
    --white-text-color: #ffffff;
    --grey-bcg-color: #e5e5e5;
    --hero-btn-active-color: #188ce8;
    --filtr-btn-bcg-color: #f5f4fa;
    --team-bcg-color: #f5f4fa;
    --lite-grey-color: #f5f4fa;
    --dark-text-color: #212121;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --card-gap: 30px;
    --card-item: 3;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --icon-main-color: #AFB1B8;
}