.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;
    @include font(null, 500, 1.17, 0.02em);
    display: flex;
    height: 60px;
    @include tablet {
    height: 80px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.header__menu-btn {
    margin-left: auto;
    padding: 0;
    transition-property: fill;
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    border: none;
    border-style: none;
    background-color: transparent;

    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
@include tablet{
    display: none;
}
}