.hero {
    background-color: var(--dark-bcg-color);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    // max-width: 480px;
    min-height: 400px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-mob-2x.jpg);
        }

        @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-tab.jpg);
    // max-width: 768px;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-tab-2x.jpg);
        }
    }

        @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg.jpg);
    // max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-2x.jpg);
        }
                 }

}
.hero .container{
    width: 100%;
    padding: 0;
}

.hero__title {
    color: var(--white-text-color);
    @include font(26px, 900, 1.61, 0.06em);
    
    max-width: 360px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){

    }
    @media screen and (min-width: 1200px) {
        @include font(44px, 900, 1.36, 0.06em); 
        max-width: 696px;
    }
}

