.privelegy__list {
    margin-right: auto;
    --card-item: 1;
    max-width: 480px;
    @media screen and (min-width:768px) {
            max-width: 768px;
            --card-item:2;
        }
    @media screen and (min-width:1200px) {
            max-width: 1200px;
            --card-item: 4;
        }
}

.privelegy__subtitle {
    margin-bottom: 10px;

    @include font(14px, none, 1.17,none);
    color: var(--dark-text-color);
    text-transform: uppercase;
}

.privelegy__icon {
    display: flex;
    height: 120px;
    background-color: var(--lite-grey-color);
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.privelegy.section{

    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
        }
}
.privelegy >.container{
    max-width: 480px;
    @media screen and (min-width:768px) {
        max-width: 768px;
    }
    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
}
