.team {
    background-color: var(--team-bcg-color);
    @media screen and(min-width:1200px) {
    padding-bottom: 94px;}
}

.team-card__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--dark-text-color);
}

.team-card__text,
.team-card__subtitle {
    @include font(16px, null, 1.18,null);
    text-align: center;
    
}

.team-card__text {
    margin-bottom: 16px;
}

.team__list {

@media screen and (min-width:768px) {
--card-item: 2;
}
@media screen and (min-width:1200px) {
--card-item:4;
}

}

.team__img{
width: 100%;
}

.team-card {
    background-color: var(--white-bcg-color);
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-card__content {
    padding: 30px;
}