.team {
    background-color: var(--team-bcg-color);
    @media screen and(min-width:1200px) {
    // padding-top: 94px;
    padding-bottom: 94px;}
}

.team-card__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--dark-text-color);
}

.team-card__text,
.team-card__subtitle {
    @include font(16px, none, 1.18,none);
    text-align: center;
    
}

.team-card__text {
    margin-bottom: 16px;
}

.team__list {
--card-item: 1;

@media screen and (min-width:768px) {
--card-item: 2;
}
@media screen and (min-width:1200px) {
--card-item:4;
}

}
.team>.container{
    width: 100%;
@media screen and(min-width:480px) {
    width: 480px;
}
@media screen and(min-width:768px) {
    width: 768px;
}
@media screen and(min-width:1200px) {
    width: 1200px;
  
}
}
.team__img{
width: 100%;
}

.team-card {
    background-color: var(--white-bcg-color);
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-card__content {
    padding: 30px;
}